<nav data-toggle="wy-nav-shift" class="wy-nav-side">
    <div class="wy-side-nav-search">
        <a href="/" class="icon icon-home"> SocioCortex Docs</a>
        <div role="search">
            <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
                <input type="text" name="q" placeholder="Search docs" />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
            </form>
        </div>
    </div>
    <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        <p class="caption"><span class="caption-text">User Documentation</span></p>
        <ul>
            <li class="toctree-l1"><a class="reference internal" href="getting_started.html">Getting Started</a></li>
            <li class="toctree-l1"><a class="reference internal" href="versions.html">Versions</a></li>
            <li class="toctree-l1"><a class="reference internal" href="builds.html">Build Process</a></li>
        </ul>
    </div>
    &nbsp;
</nav>