<section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
    <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="index.html">SocioCortex Docs</a>
    </nav>

    <div class="wy-nav-content">
        <div class="rst-content">
            <div role="main" class="document" itemscope="itemscope" itemstyle="http://schema.org/Article">
                <div class="section" id="welcome-to-read-the-docs">
                    <div itemprop="articleBody">
                        <div class="section">
                            <span class="error">{{ message }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

