<div class="wy-grid-for-nav">
    <sc-doc-sidebar></sc-doc-sidebar>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
        <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
            <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
            <a href="index.html">SocioCortex Docs</a>
        </nav>

        <div class="wy-nav-content">
            <div class="rst-content">
                <sc-doc-navbar></sc-doc-navbar>
                <div role="main" class="document" itemscope="itemscope" itemstyle="http://schema.org/Article">
                    <div class="section" id="welcome-to-read-the-docs">
                        <div itemprop="articleBody">
                            <div class="section">
                                <h1>{{ title }}</h1>
                                <div ng-prism ng-bind-html="content"></div>
                                <sc-doc-tutorial ng-if="parentTitle === 'Tutorial'" tutorial-id={{entityId}}></sc-doc-tutorial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
.wy-nav-content {
  max-width: 1000px;
  min-height: 400px;
}
</style>
